<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API-Domain</key>
	<string>gateway.marvel.com</string>
	<key>API-PublicKey</key>
	<string>46a194d6e00c9be0ea4fd4282222fb9a</string>
	<key>API-SecretKey</key>
	<string>c78b16b48ac32c5beac175ebbc98ca78c540e3ea</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
